*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #CAE3FF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header{
    width: 0%;
    height: 100vh;
    background-image: url(images/bluebackground.png);
    background-size: cover;
    background-position: center;
  }
  .container{
    padding: 30px 70%;
   
  }
  
  nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10 px 20 px;
    padding: 30px;
  }
  
  nav ul li a{
    color: #000000;
    text-decoration: none; 
    font-size: 25px;
    position: relative;
    align-items: right;
    left: 500px;
    top: 0px;
    bottom: 0px;
  }
  nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
    nav ul li a:hover:after{
        width: 100%;
    }
    
  .contact-info{
    display: flex;
    width: 200%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;display: flex;
  }
  
  
  .card{
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  
  .card-icon{
    font-size: 28px;
    background: #0078FF;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
  }
  
  .card:hover .card-icon{
    background: none;
    color: #0078FF;
    transform: scale(1.6);
  }
  
  .card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
  }
  
  .card:hover p{
    max-height: 40px;
    opacity: 1;
  }
  
  
  @media screen and (max-width:800px) {
    .contact-info{
      flex-direction: column;
    }
    .card{
      width: 100%;
      max-width: 300px;
      margin: 10px 0;
    }
  }
  
  .navbar{
    color: #ffffff;
    display: flex;
    align-items: right;
    text-decoration: none;
    padding: 700x 300%;
  
  }